[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "multiplex"]
	path = multiplex
	url = https://github.com/reveal/multiplex.git
[submodule "reveal.js-3.8.0"]
	path = reveal.js-3.8.0
	url = https://github.com/hakimel/reveal.js.git
[submodule "reveal.js-4.3.1"]
	path = reveal.js-4.3.1
	url = git@github.com:hakimel/reveal.js.git
[submodule "reveal.js-5.1.0"]
	path = reveal.js-5.1.0
	url = https://github.com/hakimel/reveal.js.git
[submodule "reveal.js-5.2.1"]
	path = reveal.js-5.2.1
	url = https://github.com/hakimel/reveal.js.git
